html{
	min-height: 75%;
}

body{
	margin: 0px auto;
	padding: 2px;
	background-repeat:no-repeat;
	background-size: cover;
	    text-align: center;

}

.top-header{
	background-color: black;
	border-width: 2px;
			display: inline-block;
		font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
		font-size: auto;
		border-style: solid;
		border-radius: 5px;
		color: white;

}

.heading{
font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
    font-style: italic;
    margin-left: 0px auto;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 500px;
    float: left;
    padding-left: 0px;
}


.Description{
	text-align: justify;
	font-size: 150%;
	color: black;
	margin: 0px auto;
	font-family:  Ubuntu, sans-serif;
	width: 90%;
	padding-bottom: 14px;
}

.Home, .Software, .Resources, .Advisors, .TeamMembers{
	color: white;
	font-size: 150%;
	display:inline-block;
	padding-right: 10px;
	border-right: 1px solid #bbb;
	padding-left: 10px;
	padding-right: 10px;
	font-family:  Ubuntu, sans-serif;
	text-decoration: none;
    border-radius: 5px;

}

.line{
	    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.SchoolName{
	display: inline-block;
	margin: 0px auto;
	width: 300px;
	padding: 0px;
}


.Home:visited,.About:visited,.Software:visited, .Resources:visited,.TeamMembers:visited,.Advisors:visited{
		background-color: blue;

}
.Image{
	margin: 0px auto;
	padding: 0px auto;
	width: 500px;
}

.Image{
	margin: 0px auto;
	padding: 0px auto;
	width: 500px;
        max-width: 10%;
}

/*##########################################################################################################################*/




@media screen and (max-width: 481px){
.Home, .Software, .Resources, .Advisors, .TeamMembers{
	text-align: center;
	color: white;
	font-size: 60%;
	display:inline-block;
	padding-right: 10px;
	border-right: 1px solid #bbb;
	padding-left: 10px;
	padding-right: 10px;
	font-family:  Ubuntu, sans-serif;
	text-decoration: none;
    border-radius: 5px;

}

.Description{
	text-align: justify;
	font-size: 75%;
	color: black;
	margin: 0px auto;
	font-family:  Ubuntu, sans-serif;
	width: 90%;
	padding-bottom: 14px;
}


html{
	min-height: 75%;
}

body{
	margin: 0px auto;
	padding: 2px;
	background-repeat:no-repeat;
	background-size: cover;
	    text-align: center;

}

.top-header{
	background-color: black;
	border-width: 2px;
			display: inline-block;
		font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
		font-size: auto;
		border-style: solid;
		border-radius: 5px;
		color: white;

}

.heading{
font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
    font-style: italic;
    margin-left: 0px auto;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 500px;
    float: left;
    padding-left: 0px;
}


.Image{
	margin: 0px auto;
	padding: 0px auto;
	width: 90%;
}

.HeadShot{
	margin: 0px auto;
	padding: 0px auto;
	width: 90%;
}


}
