.nav{
  padding: 15px;
  color: white;
  text-align: right;
  font-size: 160%;
  position: fixed;
}

.nav a{
  color:red;
}

.nav a:hover{
  text-decoration: none;
  color: white;
}

.introduction{
  margin-top : 10%;
  margin-left: 15%;
  margin-right: 15%;
  color: black;
  align-content: center;

}

#introductionImage{
  width: 50%;
  display:inline;
  float:right;
  margin-left: 25%
  margin-top:20px;
}

#introductionParagraph{
  font-size: 120%;
  align: justify;
  text-indent: 2.0em;
  padding-top: 20px;
}


.projects{
  background-color: : red;
  padding-top: 40cm;
}
