.nav{
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 160%;
  position: fixed;
}

.nav a{
  color:red;
}

.nav a:hover{
  text-decoration: none;
  color: white;
}

.introduction{
  width:780px;
  vertical-align:center;
  margin:auto auto auto auto;
  padding-top: 90px;
  float:center;
  min-height:200px;
}

#introductionImage{
  width: 420px;
  height: : 420px;
  float: right;
  margin-left: 20px;
}

#introductionParagraph{
  text-indent:2.0em;
  text-align: justify;
}


.projects{
  width: 780px;
  vertical-align: center;
  text-align: center;
  margin: auto auto auto auto;
  padding-top: 20cm;
}
